.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-size: 16px;
    background-color: hsl(223, 19%, 93%);
}

main{
    width: 60%;
    height: 80%;
    margin: auto;
}

.dark-mode{
    background-color: hsl(240, 1%, 14%);
    color:   hsl(223, 19%, 93%);

}
#whole_comment{

    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius:10px ;
    margin: auto;
    padding-top: 10px;
    
}

.comment{
display: block;
border: 1px solid grey;
margin-top: 5px;
margin-bottom: 5px;
padding-top: 5px;
padding-bottom: 5px;
background-color: hsl(0, 0%, 100%);
border-radius: 5px;

}
.vote{
    display: block;
    margin: 5px;
}

.vote:hover{
    color: hsl(212, 24%, 26%);
}

#votes{
    border: 2px solid  hsl(223, 19%, 93%);
    display: inline;

}


